# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Modèles et logs (trop lourds pour GitHub)
models/
logs/
*.zip

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Données privées (si nécessaire)
# training_stats.json
